
/*configuração que se aplica a tudo na página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
 }

 body{
   overflow:hidden;
 }
 

 
 @keyframes slide {
    0% {width: 0%;}
    100% {width: var(--larguraesq);}  
 }
 /*div que contem o form, determina tamanho geral, filtro, cor, etc*/
 .direita { 
   
    width: 100%;
    height: 100%;
    background-color: rgba(155, 155, 155, 0.2);
    opacity: 0.5;
    border-radius: 15px;
    padding: 50px 20px;
    box-shadow: rgba(0, 0, 0, 0.568) 3px 3px 10px;  
    opacity: 0.5;
    backdrop-filter: blur(4px);
    
    
 }
 /*impede o form de ficar transparente*/
 div.direita:nth-child(1) {
     color: white;
     opacity: 1;
 }
 
 
 /*Elementos gerais dos inputs de cadastro e Login*/
 input{
   width: var(--tamanhoinput);
   padding: var(--paddinginput);
   margin: var(--margininput);
   background-color: var(--brancoRetro);
   display: block;
   border-radius: 4px;
   box-sizing: border-box;
   animation: slidetext 1.5s;
 }
 /*Elementos individuais de cada input*/
  input[type=text], select {
     border: 3px solid var(--LaranjaRetro);
     border-top: none;
     border-left: none;
     border-right: none;    
  }
  @keyframes slidetext {
    0% {width: 0%;}
    50% {width: 50%}
    100% {width: var(--tamanhoinput);}
  }
  input[type=password], select {
     border: 3px solid var(--azulEscuroRetro);
     border-top: none;
     border-left: none;
     border-right: none;     
  }
  input[type=email], select {
     border: 3px solid var(--verdeRetro);
     border-top: none;
     border-left: none;
     border-right: none;
  }
  button[type=submit], select {
    height: 5vh;
    display: block;
    margin: auto;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;  
    min-width: 200px;
  }
  /*configurações gerais do form*/
  .form-popup{ 
   width: 25%;
   max-width: 500px;
   min-width: 360px;
   background: none;
   display: none;
   border-radius: 10px;
   animation: fadein 1s;
   z-index: 10;
   position: fixed;
   top: 50%;
   left: 48%;
   transform: translate(-50%, -50%);
  }
  /*animação utilizada na aparição do form*/
  @keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .btnLog {
    background-color: var(--azulClaroRetro);
    color:  rgb(255, 255, 255); 
    cursor: pointer;
    position: absolute;
    padding: 1vw  1vh 1vw;
    border: none; 
    border-radius: 10px;    
    box-shadow: 0px 6px 6px rgb(36, 36, 36);
    transition: all 1s;  
    top: 80%;
    transform: translate(0, -50%);
    z-index: 11;
    min-width: 145px;
  }
  .btnLog:hover{
    color: #ffffff;
    background-color: var(--verdeRetro);
  }
  /*icon que fecha o form*/
  .close {
    cursor: pointer;
    padding: 5px;
    border-radius: 100px;
    border: none;
    float: right;
    background-color: transparent;
    width: 3vh;
    height: 3vh;  
    transition: all 0.5s;
    font-size: large;
    float: right;
    font-size: 20px;
    text-align: center;   
  }
  .imgholderCad{
   width: 100%;
   max-width: 1000px;
   height: 80vh;
   min-height: 283px;
   float: none;
   margin: auto;
   background-image: url(../media_cadastro/greasers.png);
   background-repeat: no-repeat;
   background-size: 100%;
   background-position-y: bottom;
   /*background-position-x: -54px;*/
   position: relative;
   z-index: -1;
  }
  .imgholderLog{
   width: 100%;
   max-width: 1000px;
   height: 80vh;
   min-height: 283px;
   float: none;
   margin: auto;
   background-image: url(../media_cadastro/Greasers2.png);
   background-repeat: no-repeat;
   background-size: 100%;
   background-position-y: bottom;
   /*background-position-x: -54px;*/
   position: relative;
   z-index: -1;
  }
  input::placeholder{
   font-size: 17px;
  }
  /*animação do icon de fechar o form*/
  .close:hover {
    color: var(--vermelhoClaroRetro);
  }
 /*Textos em geral*/
 .p1 {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 10%;
    text-align: center;
 }
 .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 150%;
    transition: all 0.5s;
    float: left;
    margin-left: 2vh;  
    color: var(--brancoRetro);
 }
 .signIn{
   padding-top: 30px;
    padding-bottom: 60px;

 }
 /*animação do txto sign in*/
 .p3:hover{
    
    color: var(--verdeRetro);
 }
 .p2 {
    font-family: "RobotoRegular";
    font-size: 3vh;
    transition: all 1s;  
 }
 /*Animações do botão de confirmar cadastro*/
 .btnEntrar {
    background-color: var(--azulClaroRetro);
    transition: 1s;
 }
 .btnEntrar:hover {
    background-color: var(--verdeRetro);
    
 }
 .btnEntrar:active{
   transform: scale(0.2);
 }
 

 /*Variaveis para troca de elementos de forma geral*/
 :root{
    --tamanhoinput: 95%;
    --paddinginput: 2vh;
    --margininput: 5vh 1vh;  
    --fontbotoes: font-family: Helvetica, 'sans-serif';
    --larguraesq: 25vw;  
 }
 /*Responsividade para telas medianas*/

 /*Responsividade para telas grandes*/
 @media screen and (max-width: 1440px){
 
   input, ::-webkit-input-placeholder{
      font-size: 16px;
   }
 
   
 }
 /*Responsividade para telas pequenas*/
 @media  screen and (max-height: 768px){
   
      
       input{
          min-height: 20px;
       }
       .btnEntrar {
          min-width: 50px;
          min-height: 50px;
       }
        
 }
 @media screen and (max-width: 425px){
   .form-popup{
      width: 80%;
      min-width: auto;
   }
    .btnLog {
       top: 70%;
    }
 }
 @media screen and (max-width: 700px){
   .imgholderCad , .imgholderLog {
      display:none;
 }
}
  /*Cores base do site*/
 :root{
   --vermelhoClaroRetro: #C76E7A;
   --vermelhoEscuroRetro: #895570;
   --azulClaroRetro: #A1C1D1;
   --azulEscuroRetro:#6A87A5;
   --verdeRetro: #95D2B4;
   --LaranjaRetro: #FAB18B;
   --begeRetro: #EAE5D9;
   --pretoRetro: #1A1A1A;
   --brancoRetro: #f1f1f1;
 }