div.main {
   
 
   display: flex; 
   justify-content: center;
  
   
}
body{
   background-image: url(../media_cadastro/FundoCadastro.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   
}
*{
   margin: 0;
   padding: 0;
   box-sizing: content-box;
}

div.principal {
   width: 30vw;
   height: 50vh;
   align-self: center;
 
   background-color: none;
   border-radius: 20px;
    
   justify-content: center;
}

/*
falecida div esquerda, para sempre será esquecida
div.esquerda {
   background-color: #424242;
   width: var(--larguraesq);
   height: 50vh;
   position: fixed;  
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.568) 3px 3px 10px;
   float: left;  
   padding: 50px 20px;
   color: white;
   -webkit-animation: slide 1s;   
}
*/
@-webkit-keyframes slide {
   0% {width: 0%;}
   100% {width: var(--larguraesq);}  
}

div.direita { 
   
   width: 25vw;
   height: 50vh;
   left: 20vw;
   right: 20vw;
   display: block;
   background-color: white;
   float: right;
   position: relative; 
   border-radius: 10px;
   margin: 0 0 10vh;
   padding: 50px 20px;
   box-shadow: rgba(0, 0, 0, 0.568) 3px 3px 10px;  
   -webkit-animation: descida 1s;
   display: block;
   
 
}
@-webkit-keyframes descida {
   0% {height: 0%;}
   100% {height: 100%;}
}
 input[type=text], select {
    width: var(--tamanhoinput);
    padding: var(--paddinginput);
    margin: var(--margininput);
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: #000000;
    -webkit-animation: slidetext 1.5s;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: var(--corbackinput); 
 }
 @-webkit-keyframes slidetext {
   0% {width: 0%;}
   50% {width: 50%}
   100% {width: var(--tamanhoinput);}
 }
 input[type=password], select {
    width: var(--tamanhoinput);
    padding: var(--paddinginput);
    margin: var(--margininput);
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--corbackinput);
    border-top: none;
    border-left: none;
    border-right: none;
    -webkit-animation: slidetext 1.5s;  
 }
 input[type=email], select {
    width: var(--tamanhoinput);
    padding: var(--paddinginput);
    margin: var(--margininput);
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: #000000;
    -webkit-animation: slidetext 1.5s;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: var(--corbackinput);
 }

 
 button[type=submit], select {
   width: 50%;
   height: 5vh;
   display: block;
   margin-left: 25%;
   
   border: none;
   cursor: pointer;
   border-radius: 5px;
   color: #ffffff;  
 }
 .form-popup{ 
   background: none;
   display: none;
   position: fixed;
   border-radius: 10px; 
    -webkit-animation: fadein 1s;
    position: absolute;
    top: 50%;
    right: 55%;
    transform: translate(0, -50%);
 }
 @-webkit-keyframes fadein {
   from {opacity: 0;}
   to {opacity: 1;}
 }
 .btnLog {
   background-color: rgb(61, 61, 61);
   color:  rgb(255, 255, 255); 
   cursor: pointer;
   position: absolute;
   width: 10%;
   margin-top: 80vh;
   padding: 1vw  1vh 1vw;
   border: none; 
   border-radius: 10px;    
   box-shadow: 0px 6px 6px rgb(36, 36, 36);
   transition: all 1s;
   
 }


 .btnLog:hover{
   color: #ffffff;
   background-color: rgb(79, 164, 250);
   
 }
 .close {
   cursor: pointer;
   padding: 5px;
   border-radius: 100px;
   border: none;
   float: right;
   
  
   background-color: none;
   width: 3vh;
   height: 3vh;  
   transition: all 0.5s;
   font-size: large;
   float: right;
   font-size: 20px;
   text-align: center;
   
   
 
 }
 .close:hover {
   color: red;
 }
/*Textos em geral*/
.p3 {
   font-family: "Lucida Console", "Courier New", monospace;
   font-size: 150%;
   transition: all 1s;
   float: left;
   margin-left: 2vh;  
}
.p3:hover{
   opacity: 0.5;
   color: rgb(79, 164, 250);
}
.p2 {
   font-family: var(--fontbotoes);
   font-size: 2vh;
   
   transition: all 1s;
   
}

/*Animações do botão de confirmar cadastro*/
.btnEntrar {
   
   background-color:rgb(61, 61, 61);
   transition: 1s;
}
.btnEntrar:hover {
   background-color: rgb(99, 189, 63);;
}

/*Variaveis para troca de elementos de forma geral*/

:root{
   --tamanhoinput: 95%;
   --paddinginput: 2vh;
   --margininput: 5vh 1vh;
   --corbackinput: whitesmoke;
   --fontbotoes: font-family: Helvetica, 'sans-serif';
   --larguraesq: 25vw;  
}

/*Responsividade para telas medianas*/

@media screen and (max-width: 1000px){
div.direita{
   width: 50vw;
}
button[type=submit]{
   margin-left: 25%;
}
div.esquerda{
   display: none;
}
.form-popup{
   right: 40%;
}
}  

/*Responsividade para telas pequenas*/

@media  screen and (max-height: 800px){
      div.direita{
         width: 150%;
         min-height: 350px;
      }
      .form-popup {
         right: 45%;
      }
      input{
         min-height: 20px;
      }
      .btnEntrar {
         min-width: 50px;
         min-height: 50px;
      }
      .p2 {
         font-size: 3vh;
      }
      

}

@media screen and (max-width: 425px){
   div.direita{
     width: 250%; 
     
   }
   .form-popup{
      right: 28%;
   }
   .p2{
      font-size: 100px;  
   }
   .btnLog {
      width: 10vh;
   }
}
@media only screen and (max-width: 768px){
.p2{
   font-size: 2vh;
}
}