
/*configuração que se aplica a tudo na página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
 }
 
 
 
 /*
 falecida div esquerda, para sempre será esquecida
 div.esquerda {
    background-color: #424242;
    width: var(--larguraesq);
    height: 50vh;
    position: fixed;  
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.568) 3px 3px 10px;
    float: left;  
    padding: 50px 20px;
    color: white;
    -webkit-animation: slide 1s;   
 }
 */
 
 @keyframes slide {
    0% {width: 0%;}
    100% {width: var(--larguraesq);}  
 }
 /*div que contem o form, determina tamanho geral, filtro, cor, etc*/
 .direita { 
    width: 25vw;
    max-width: 400px;
    height: 50vh;
    left: 50%;
    display: block;
    background-color: rgba(155, 155, 155, 0.2);
    opacity: 0.5;
    float: right;
    position: relative; 
    border-radius: 15px;
    padding: 50px 20px;
    box-shadow: rgba(0, 0, 0, 0.568) 3px 3px 10px;  
    display: block;
    opacity: 0.5;
    backdrop-filter: blur(8px);
    
    
 }
 /*impede o form de ficar transparente*/
 div.direita:nth-child(1) {
     color: white;
     opacity: 1;
 }
 
 
 /*Elementos gerais dos inputs de cadastro e Login*/
 input{
   width: var(--tamanhoinput);
   padding: var(--paddinginput);
   margin: var(--margininput);
   background-color: var(--brancoRetro);
   display: block;
   border-radius: 4px;
   box-sizing: border-box;
   animation: slidetext 1.5s;
 }
 /*Elementos individuais de cada input*/
  input[type=text], select {
     border: 3px solid var(--LaranjaRetro);
     border-top: none;
     border-left: none;
     border-right: none;    
  }
  @keyframes slidetext {
    0% {width: 0%;}
    50% {width: 50%}
    100% {width: var(--tamanhoinput);}
  }
  input[type=password], select {
     border: 3px solid var(--azulEscuroRetro);
     border-top: none;
     border-left: none;
     border-right: none;     
  }
  input[type=email], select {
     border: 3px solid var(--verdeRetro);
     border-top: none;
     border-left: none;
     border-right: none;
  }
  button[type=submit], select {
    width: 50%;
    height: 5vh;
    display: block;
    margin-left: 25%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;  
  }
  /*configurações gerais do form*/
  .form-popup{ 
    background: none;
    display: none;
    position: fixed;
    border-radius: 10px; 
     animation: fadein 1s;
     position: absolute;
     top: 50%;
     right: 51%;
     transform: translate(0, -50%);
     z-index: 10;
  }
  /*animação utilizada na aparição do form*/
  @keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .btnLog {
    background-color: var(--azulClaroRetro);
    color:  rgb(255, 255, 255); 
    cursor: pointer;
    position: absolute;
    width: 10%;
    padding: 1vw  1vh 1vw;
    border: none; 
    border-radius: 10px;    
    box-shadow: 0px 6px 6px rgb(36, 36, 36);
    transition: all 1s;  
    top: 80%;
    transform: translate(0, -50%);
    z-index: 2;
    min-width: 100px;
  }
  .btnLog:hover{
    color: #ffffff;
    background-color: var(--verdeRetro);
  }
  /*icon que fecha o form*/
  .close {
    cursor: pointer;
    padding: 5px;
    border-radius: 100px;
    border: none;
    float: right;
    background-color: transparent;
    width: 3vh;
    height: 3vh;  
    transition: all 0.5s;
    font-size: large;
    float: right;
    font-size: 20px;
    text-align: center;   
  }
  /*animação do icon de fechar o form*/
  .close:hover {
    color: var(--vermelhoClaroRetro);
  }
 /*Textos em geral*/
 .p1 {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 10%;
    text-align: center;
 }
 .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 150%;
    transition: all 0.5s;
    float: left;
    margin-left: 2vh;  
    color: var(--brancoRetro);
 }
 /*animação do txto sign in*/
 .p3:hover{
    
    color: var(--verdeRetro);
 }
 .p2 {
    font-family: var(--fontbotoes);
    font-size: 2vh;
    transition: all 1s;  
 }
 /*Animações do botão de confirmar cadastro*/
 .btnEntrar {
    background-color: var(--azulClaroRetro);
    transition: 1s;
 }
 .btnEntrar:hover {
    background-color: var(--verdeRetro);
    
 }
 .btnEntrar:active{
   transform: scale(0.2);
 }

 /*Variaveis para troca de elementos de forma geral*/
 :root{
    --tamanhoinput: 95%;
    --paddinginput: 2vh;
    --margininput: 5vh 1vh;  
    --fontbotoes: font-family: Helvetica, 'sans-serif';
    --larguraesq: 25vw;  
 }
 /*Responsividade para telas medianas*/
 @media screen and (max-width: 1024px){
 button[type=submit]{
    margin-left: 25%;
 }
 .form-popup{
    right: 50%;
    top: 45%;
 }
 }  
 /*Responsividade para telas grandes*/
 @media screen and (max-width: 1440px){
   .form-popup{
right: 50%;
   }
  
   input, ::-webkit-input-placeholder{
      font-size: 16px;
   }
   .direita{
      max-height: 550px;
      
   }
   
 }
 /*Responsividade para telas pequenas*/
 @media  screen and (max-height: 768px){
   div.direita{
      width: 100%; 
    }
       .form-popup {
          right: 50%;
       }
       input{
          min-height: 20px;
       }
       .btnEntrar {
          min-width: 50px;
          min-height: 50px;
       }
       .p2 {
          font-size: 3vh;
       }    
 }
 @media screen and (max-width: 425px){
    div.direita{
      width: 100%; 
    }
    .form-popup{
       right: 43%;
       width: 285px;
    }
    .btnLog {
       width: 100px;
       height: 20px;
    }
 }
 @media screen and (max-width: 320px){
   .form-popup{
      width: 240px;
   }
 }
  /*Cores base do site*/
 :root{
   --vermelhoClaroRetro: #C76E7A;
   --vermelhoEscuroRetro: #895570;
   --azulClaroRetro: #A1C1D1;
   --azulEscuroRetro:#6A87A5;
   --verdeRetro: #95D2B4;
   --LaranjaRetro: #FAB18B;
   --begeRetro: #EAE5D9;
   --pretoRetro: #1A1A1A;
   --brancoRetro: #f1f1f1;
 }